<!-- footer.component.html -->
<footer>
    <div class="contact-info">
      <p>Contacto: {{ contacto }}</p>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Logo_de_Facebook.png" alt="Facebook" /></a>
      <a href="https://www.twitter.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="Twitter" /></a>
      <a href="https://www.instagram.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram" /></a>
    </div>
    <div class="creative-commons">
      <p>This work is marked with <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank" rel="noopener noreferrer">CC0 1.0</a></p>
    </div>
  </footer>
  
